<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create-agent</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet"/>
    <script src="/static/bootstrap.min.js"></script>
</head>
<body>

<div class="container mt-5">
    <div>
        <h2>Введите имя агента</h2>

        <form action="/create/agent" method="post">
            <div class="col-md-8 mb-3">
                <label class="form-label">Название агента</label>
                <textarea name="text" type="text" rows="1" class="form-control form-control-lg"></textarea>
            </div>
            <div class="col-md-8 mb-3">
                <label class="form-label">Дата создания</label>
                <input value="{{ now_date }}" name="date" class="form-control form-control-lg" readonly>
            </div>
            <button type="submit" class="btn btn-lg btn-primary rounded-4 mt-1">
                Создать
            </button>
        </form>
    </div>
</div>

</body>
</html>