<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>at-agents-main</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet"/>
    <script src="/static/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <div>
        <h2>AT-AGENTS</h2>
        <p class="lead">
            Создавайте интеллектуальных агентов онлайн
        </p>
        <a href="/login" class="btn btn-lg btn-primary rounded-4 mt-1">
            Начать
        </a>
    </div>
</div>
</body>
</html>